@import url(https://fonts.googleapis.com/css?family=Poppins:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #EEEEEE;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #222831;
  color: rgba(238, 238, 238, 0.75);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  padding-top: 5.3125rem;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 79.9375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  text-align: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgba(57, 62, 70, 0.8);
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgb(0, 173, 181);
          box-shadow: 0px 0px 20px 0px rgb(0, 173, 181);
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  width: 100%;
  color: #735CFF;
  text-align: right;
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
}

.popup__close::after {
  display: inline-block;
  content: "×";
  /* This will render the 'X' */
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5;
  padding: 0.625rem 2rem;
  border-radius: 1.5rem;
  background-color: #00ADB5;
  color: #EEEEEE;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button_dark {
  background-color: rgba(57, 62, 70, 0.75);
}

.button_dark.active {
  background-color: #00ADB5;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #393E46;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48px;
          flex: 0 0 48px;
  height: 48px;
  border-radius: 50%;
}

.title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.5;
  color: #EEEEEE;
}

.title span {
  color: #00ADB5;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
  background-color: rgba(34, 40, 49, 0.8);
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.3125rem;
}

.menu__link {
  color: #eeeeee;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__container {
  border-top: 1px solid rgba(238, 238, 238, 0.1);
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.footer__menu:not(:last-child) {
  margin-bottom: 1.75rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.9375rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__link {
  padding-left: 2.125rem;
  line-height: 1.3333333333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-footer__link_home {
  background: url("../img/icons/home.svg") left no-repeat;
}

.menu-footer__link_about {
  background: url("../img/icons/user.svg") left no-repeat;
}

.menu-footer__link_contacts {
  background: url("../img/icons/phone.svg") left no-repeat;
}

.main {
  padding-top: 5.8125rem;
  padding-bottom: 6.125rem;
  border-bottom: 1px solid rgba(238, 238, 238, 0.1);
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 1.75rem;
}

.main__title {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1;
  text-transform: uppercase;
  color: #EEEEEE;
}

.main__title span {
  color: #00ADB5;
}

.main__title:not(:last-child) {
  margin-bottom: 3rem;
}

.main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.main__cv-button span {
  display: inline-block;
  padding-right: 2.125rem;
  background: url("../img/icons/download.svg") right no-repeat;
}

.main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42, 8%;
          flex: 0 0 42, 8%;
  text-align: center;
}

.main__image img {
  min-width: 100%;
}

.about {
  padding-top: 7.25rem;
  padding-bottom: 7.25rem;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.about__text {
  max-width: 24.375rem;
  line-height: 1.5;
}

.about__image {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 53, 2%;
          flex: 0 0 53, 2%;
}

.about__image img {
  max-width: 100%;
}

.works {
  padding-top: 9.125rem;
  padding-bottom: 9.125rem;
  background: url("../img/works/bg.svg") center/cover no-repeat;
}

.works__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.items-works__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 3rem;
}

.items-works__content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.8125rem;
}

.items-works__item {
  background: rgba(57, 62, 70, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 16px;
  padding: 45px;
}

.items-works__image {
  position: relative;
  padding-bottom: 59.6226425%;
}

.items-works__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts {
  padding-top: 9.75rem;
  padding-bottom: 7.8125rem;
}

.contacts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contacts__image {
  text-align: center;
}

.contacts__image img {
  max-width: 100%;
}

.form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.form__item:nth-child(3),
.form__item:nth-child(4) {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.form__label {
  display: block;
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.5;
  color: #EEEEEE;
}

.form__input {
  background: rgba(57, 62, 70, 0.5);
  border-radius: 16px;
  width: 100%;
  padding: 1.5rem;
  color: #fff;
}

.form__input::-webkit-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::-moz-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -moz-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input:-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::-ms-input-placeholder {
  color: rgba(238, 238, 238, 0.5);
  -ms-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input::placeholder {
  color: rgba(238, 238, 238, 0.5);
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.form__input:focus::-moz-placeholder {
  opacity: 0;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 0;
}

.form__input:focus::placeholder {
  opacity: 0;
}

.form textarea.form__input {
  height: 200px;
  padding: 1.5rem;
  resize: vertical;
}

.form__button span {
  display: inline-block;
  padding-right: 2.125rem;
  background: url("../img/icons/send.svg") right no-repeat;
}

@media (max-width: 79.9375em) {
  .main {
    padding-top: 3.125rem;
    padding-bottom: 2.8125rem;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .main__content {
    padding-right: 0rem;
  }

  .main__title {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .about {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }

  .works {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }

  .contacts {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}

@media (max-width: 61.99875em) {
  .title {
    font-size: 3.25rem;
  }

  .about {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }

  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__content {
    text-align: center;
    padding-right: 0;
    margin-bottom: 1.25rem;
  }

  .about__text {
    max-width: none;
  }

  .works {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }

  .contacts {
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
  }

  .contacts__container {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__image {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .wrapper {
    padding-top: 4.5625rem;
  }

  .title {
    font-size: 2.8125rem;
  }

  .main {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem;
  }

  .main__title {
    font-size: 4.0625rem;
  }

  .main__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .works__title {
    text-align: center;
  }

  .items-works__navigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1.25rem;
  }

  .items-works__content {
    gap: 0.9375rem;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__button {
    width: 100%;
  }
}

@media (max-width: 29.99875em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    gap: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer__container {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .main__title {
    font-size: 2.8125rem;
  }

  .main__buttons {
    gap: 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgba(57, 62, 70, 0.75);
  }

  .button_dark:hover {
    background-color: #00ADB5;
  }

  .social__link:hover {
    background-color: #454b54;
  }

  .menu__link:hover {
    color: #00adb5;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }

  .items-works__item:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgb(0, 173, 181);
            box-shadow: 0px 0px 20px 0px rgb(0, 173, 181);
  }
}